{relx, [{release, {valvex, "0.1.0"}, [valvex]},
        {dev_mode, false},
        {sys_config, "./config/sys.config"},
        {include_erts, true},
        {extended_start_script, true}]}.
{erl_opts,            [ debug_info
                      , warnings_as_errors
                      , {parse_transform, lager_transform}
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps, [ {cowboy,       {git, "https://github.com/ninenines/cowboy.git",      {branch, "master"}}}
       , {cowlib,       {git, "https://github.com/ninenines/cowlib.git",      {tag, "master"}}}
       , {common_eunit, {git, "https://github.com/permelin/common_eunit.git", {tag, "v0.1.1"}}}
       , {jsx,          {git, "https://github.com/talentdeficit/jsx.git",     {tag, "v2.8.0"}}}
       , {gun,          {git, "https://github.com/ninenines/gun.git",         {tag, "1.0.0-pre.1"}}}
       , {lager,        {git, "https://github.com/basho/lager.git",           {tag, "3.2.1"}}}
       ]}.
