{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps, [
       {common_eunit, {git, "https://github.com/permelin/common_eunit.git", {tag, "v0.1.1"}}}
       ]}.
