[{valvex, [{queues, [ { test_fifo
                     , {threshold, 3}
                     , {timeout, 10, seconds}
                     , {pushback, 10, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_fifo_backend
                     }
                   , { test_lifo
                     , {threshold, 300}
                     , {timeout, 1, seconds}
                     , {pushback, 5, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_lifo_backend
                     }
                   , { test_threshold_pushback
                     , {threshold, 1}
                     , {timeout, 1, seconds}
                     , {pushback, 5, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_fifo_backend
                     }
                   ]
           }
          , {pushback_enabled, true}
          , {workers, 1}
          , {event_handlers, []}
          ]
 }
].
