[{valvex, [{queues, [ { test_fifo
                     , {threshold, 10}
                     , {timeout, 1, seconds}
                     , {pushback, 1, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_fifo_backend
                     }
                   , { test_lifo
                     , {threshold, 10}
                     , {timeout, 1, seconds}
                     , {pushback, 1, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_lifo_backend
                     }
                   , { test_threshold_pushback
                     , {threshold, 1}
                     , {timeout, 1, seconds}
                     , {pushback, 5, seconds}
                     , {poll_rate, 100, ms}
                     , valvex_queue_fifo_backend
                     }
                   ]
           }
          , {pushback_enabled, true}
          , {workers, 1}
          , {event_handlers, []}
          ]
 }
, {lager, [
            {log_root, "./log/test"}
          , {colored, true}
          , {handlers, [
                        {lager_console_backend, info},
                        {lager_file_backend, [{file, "error.log"}, {level, error}]},
                        {lager_file_backend, [{file, "console.log"}, {level, info}]}
                       ]}
           ]}
].
